language: ruby
cache: bundler
rvm:
  - ruby-head
  - 2.2
  - 2.1
  - 2.0.0
  - 1.9.3
  - jruby-head
  - jruby-19mode
  - rbx-2
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true
